*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Modal1{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -150vh;
    background-color: #fff;
    width: 100%;
    left: 0;
   
    transition: bottom 0.3s ease-out;
    z-index: 10;
  
}
.Modal1.Show {
bottom: 0;
display: flex;

}
.Overlay1 {
background-color: rgba(0, 0, 0, 0.55);
top: 0;
bottom: 0;
left: 0;
right: 0;
position: fixed;
display: none;
z-index: 5;
}
.Overlay1.Show {
display: block;
}
.main-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100vh;
    width: auto;
}
.back-container{
width: 400px;
height:100vh;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.flex-roww{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    margin-left: 30px;
}
.m-heading{
    font-size: 2rem;
    opacity: 0.9;
}
.inp{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.57;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 340px;
    height: 48px;
    margin-top: 1rem;
}
.border{
    border: 1px solid #949090;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 5px;
   
    
}
.s-heading{
    color: #7ECB20;
    font-weight: 500;
    
}
.line{
    height: 1px;
    width: 140px;
    border-bottom: #7ECB20 2px solid;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}
.green-label{
    color: #7ECB20;
    margin-top: 1rem;
    align-self: flex-end;
    margin-right: 2rem;
}
.black-label{
    font-weight: 600;
    padding: 1rem;
}
.close1{
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-left: auto;
    cursor: pointer;
    padding: 1rem;
}